.quik-form-vertical{
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    padding: 1em;
    border-radius: 0.5em;
    background: #fff;
    min-width: 20em;
}

.quik-form-header{
    color: #000;
    text-align: center;
}

.quik-form-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    column-gap: 0.5em;
}

.label{
    color: #000;
}

.quik-form-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1em;
}